## 1]Importing Libraries

In [1]:
import numpy as np
import pandas as pd

## 2]Impoting Data

In [3]:
df = pd.read_csv('AdventureWorks2019.csv')
df

,SalesOrderID,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,CustomerID,SalesPersonID,TerritoryID,ShipMethodID,...,UnitPrice,LineTotal,SubCategoryName,CategoryName,ShipMethodName,TerritoryName,TerritoryGroup,ProductNameX,Unnamed: 26,ProductName
0,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2024.994,2024.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Black,42,Mountain-100 Black 42
1,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2024.994,6074.982,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Black,44,Mountain-100 Black 44
2,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2024.994,2024.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Black,48,Mountain-100 Black 48
3,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2039.994,2039.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Silver,38,Mountain-100 Silver 38
4,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2039.994,2039.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Silver,42,Mountain-100 Silver 42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,15868,NaN,6,1,...,21.980,21.980,Fenders,Accessories,XRQ - TRUCK GROUND,Canada,North America,Fender Set - Mountain,NaN,Fender Set - Mountain
121313,75122,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,15868,NaN,6,1,...,8.990,8.990,Caps,Clothing,XRQ - TRUCK GROUND,Canada,North America,AWC Logo Cap,NaN,AWC Logo Cap
121314,75123,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,18759,NaN,6,1,...,21.980,21.980,Fenders,Accessories,XRQ - TRUCK GROUND,Canada,North America,Fender Set - Mountain,NaN,Fender Set - Mountain
121315,75123,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,18759,NaN,6,1,...,159.000,159.000,Bike Stands,Accessories,XRQ - TRUCK GROUND,Canada,North America,All-Purpose Bike Stand,NaN,All-Purpose Bike Stand
121316,75123,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,18759,NaN,6,1,...,8.990,8.990,Caps,Clothing,XRQ - TRUCK GROUND,Canada,North America,AWC Logo Cap,NaN,AWC Logo Cap

## 3]Exploring Data

In [111]:
df.head()

,SalesOrderID,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,CustomerID,SalesPersonID,TerritoryID,ShipMethodID,...,UnitPrice,LineTotal,SubCategoryName,CategoryName,ShipMethodName,TerritoryName,TerritoryGroup,ProductNameX,Unnamed: 26,ProductName
0,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2024.994,2024.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Black,42,Mountain-100 Black 42
1,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2024.994,6074.982,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Black,44,Mountain-100 Black 44
2,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2024.994,2024.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Black,48,Mountain-100 Black 48
3,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2039.994,2039.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Silver,38,Mountain-100 Silver 38
4,43659,5/31/2011 0:00,6/12/2011 0:00,6/7/2011 0:00,5,False,29825,279.0,5,5,...,2039.994,2039.994,Mountain Bikes,Bikes,CARGO TRANSPORT 5,Southeast,North America,Mountain-100 Silver,42,Mountain-100 Silver 42

In [113]:
df.tail()

,SalesOrderID,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,CustomerID,SalesPersonID,TerritoryID,ShipMethodID,...,UnitPrice,LineTotal,SubCategoryName,CategoryName,ShipMethodName,TerritoryName,TerritoryGroup,ProductNameX,Unnamed: 26,ProductName
121312,75122,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,15868,NaN,6,1,...,21.98,21.98,Fenders,Accessories,XRQ - TRUCK GROUND,Canada,North America,Fender Set - Mountain,NaN,Fender Set - Mountain
121313,75122,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,15868,NaN,6,1,...,8.99,8.99,Caps,Clothing,XRQ - TRUCK GROUND,Canada,North America,AWC Logo Cap,NaN,AWC Logo Cap
121314,75123,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,18759,NaN,6,1,...,21.98,21.98,Fenders,Accessories,XRQ - TRUCK GROUND,Canada,North America,Fender Set - Mountain,NaN,Fender Set - Mountain
121315,75123,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,18759,NaN,6,1,...,159.00,159.00,Bike Stands,Accessories,XRQ - TRUCK GROUND,Canada,North America,All-Purpose Bike Stand,NaN,All-Purpose Bike Stand
121316,75123,6/30/2014 0:00,7/12/2014 0:00,7/7/2014 0:00,5,True,18759,NaN,6,1,...,8.99,8.99,Caps,Clothing,XRQ - TRUCK GROUND,Canada,North America,AWC Logo Cap,NaN,AWC Logo Cap

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121317 entries, 0 to 121316
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SalesOrderID        121317 non-null  int64
 1   OrderDate           121317 non-null  object
 2   DueDate             121317 non-null  object
 3   ShipDate            121317 non-null  object
 4   Status              121317 non-null  int64
 5   OnlineOrderFlag     121317 non-null  bool
 6   CustomerID          121317 non-null  int64
 7   SalesPersonID       60919 non-null   float64
 8   TerritoryID         121317 non-null  int64
 9   ShipMethodID        121317 non-null  int64
 10  CreditCardID        118744 non-null  float64
 11  SubTotal            121317 non-null  float64
 12  TaxAmt              121317 non-null  float64
 13  Freight             121317 non-null  float64
 14  TotalDue            121317 non-null  float64
 15  SalesOrderDetailID  121317 non-null  int64
 16  OrderQty            121317 non-null  int64
 17  ProductID           121317 non-null  int64
 18  UnitPrice           121317 non-null  float64
 19  LineTotal           121317 non-null  float64
 20  SubCategoryName     121317 non-null  object
 21  CategoryName        121317 non-null  object
 22  ShipMethodName      121317 non-null  object
 23  TerritoryName       121317 non-null  object
 24  TerritoryGroup      121317 non-null  object
 25  ProductNameX        121317 non-null  object
 26  Unnamed: 26         77841 non-null   object
 27  ProductName         121317 non-null  object
dtypes: bool(1), float64(8), int64(8), object(11)
memory usage: 25.1+ MB

In [117]:
df.shape

(121317, 28)

In [119]:
df.columns

Index(['SalesOrderID', 'OrderDate', 'DueDate', 'ShipDate', 'Status',
       'OnlineOrderFlag', 'CustomerID', 'SalesPersonID', 'TerritoryID',
       'ShipMethodID', 'CreditCardID', 'SubTotal', 'TaxAmt', 'Freight',
       'TotalDue', 'SalesOrderDetailID', 'OrderQty', 'ProductID', 'UnitPrice',
       'LineTotal', 'SubCategoryName', 'CategoryName', 'ShipMethodName',
       'TerritoryName', 'TerritoryGroup', 'ProductNameX', 'Unnamed: 26',
       'ProductName'],
      dtype='object')

In [121]:
#Categorical Data
df.describe(include = 'object').T

                  count unique                     top   freq
OrderDate        121317   1124          6/30/2013 0:00   3876
DueDate          121317   1124          7/12/2013 0:00   3876
ShipDate         121317   1124           7/7/2013 0:00   3876
SubCategoryName  121317     35              Road Bikes  20944
CategoryName     121317      4             Accessories  41194
ShipMethodName   121317      2       CARGO TRANSPORT 5  60919
TerritoryName    121317     10               Southwest  25644
TerritoryGroup   121317      3           North America  79217
ProductNameX     121317    120        Sport-100 Helmet   9180
Unnamed: 26       77841     20                      44   7708
ProductName      121317    266  Water Bottle - 30 oz.    4688

In [123]:
# Categories name & its values
df['CategoryName'].value_counts()

CategoryName
Accessories    41194
Bikes          40031
Clothing       21394
Components     18698
Name: count, dtype: int64

In [125]:
# Num of Categories
df['CategoryName'].value_counts().count()

4

## 4]Cleaning Data

In [5]:
# check if there are missing values
df.isna().sum()

SalesOrderID              0
OrderDate                 0
DueDate                   0
ShipDate                  0
Status                    0
OnlineOrderFlag           0
CustomerID                0
SalesPersonID         60398
TerritoryID               0
ShipMethodID              0
CreditCardID           2573
SubTotal                  0
TaxAmt                    0
Freight                   0
TotalDue                  0
SalesOrderDetailID        0
OrderQty                  0
ProductID                 0
UnitPrice                 0
LineTotal                 0
SubCategoryName           0
CategoryName              0
ShipMethodName            0
TerritoryName             0
TerritoryGroup            0
ProductNameX              0
Unnamed: 26           43476
ProductName               0
dtype: int64

In [7]:
df.drop('ProductNameX',axis = 1, inplace =True)

In [9]:
df.drop('Unnamed: 26',axis = 1, inplace =True)

In [11]:
df.drop('CreditCardID',axis = 1, inplace =True)

In [13]:
df.columns

Index(['SalesOrderID', 'OrderDate', 'DueDate', 'ShipDate', 'Status',
       'OnlineOrderFlag', 'CustomerID', 'SalesPersonID', 'TerritoryID',
       'ShipMethodID', 'SubTotal', 'TaxAmt', 'Freight', 'TotalDue',
       'SalesOrderDetailID', 'OrderQty', 'ProductID', 'UnitPrice', 'LineTotal',
       'SubCategoryName', 'CategoryName', 'ShipMethodName', 'TerritoryName',
       'TerritoryGroup', 'ProductName'],
      dtype='object')

In [15]:
df.isna().sum()

SalesOrderID              0
OrderDate                 0
DueDate                   0
ShipDate                  0
Status                    0
OnlineOrderFlag           0
CustomerID                0
SalesPersonID         60398
TerritoryID               0
ShipMethodID              0
SubTotal                  0
TaxAmt                    0
Freight                   0
TotalDue                  0
SalesOrderDetailID        0
OrderQty                  0
ProductID                 0
UnitPrice                 0
LineTotal                 0
SubCategoryName           0
CategoryName              0
ShipMethodName            0
TerritoryName             0
TerritoryGroup            0
ProductName               0
dtype: int64

In [151]:
# Check if there are Duplicates
df.duplicated().sum()

0

## 5]Questions & Answers

In [153]:
# What is the total sales for each product?
df.groupby('ProductName').sum()['TotalDue']

ProductName
AWC Logo Cap                  4.978507e+07
All-Purpose Bike Stand        1.658042e+05
Bike Wash - Dissolver         1.841311e+07
Cable Lock                    1.503561e+07
Chain                         1.024501e+07
                                  ...
Women's Mountain Shorts  M    1.098193e+07
Women's Mountain Shorts  S    1.154731e+07
Women's Tights  L             1.918154e+07
Women's Tights  M             7.281956e+06
Women's Tights  S             1.915492e+07
Name: TotalDue, Length: 266, dtype: float64

In [155]:
# What is the avergae cost by shipping?
df.groupby('ShipMethodName')['Freight'].mean()

ShipMethodName
CARGO TRANSPORT 5     1267.416031
XRQ - TRUCK GROUND      24.515398
Name: Freight, dtype: float64

In [161]:
#What is the total sales for each territory?
df.groupby('TerritoryName').sum()['TotalDue']

TerritoryName
Australia         7.057392e+07
Canada            5.269695e+08
Central           2.630991e+08
France            1.981583e+08
Germany           9.265823e+07
Northeast         2.537713e+08
Northwest         4.112073e+08
Southeast         2.264275e+08
Southwest         6.968966e+08
United Kingdom    1.872084e+08
Name: TotalDue, dtype: float64

In [171]:
#What is the total number of products in each category?
df.groupby('CategoryName').count()['ProductName']

CategoryName
Accessories    41194
Bikes          40031
Clothing       21394
Components     18698
Name: ProductName, dtype: int64

In [175]:
#What is the average purchase for each category?
df.groupby('CategoryName')['TotalDue'].mean()

CategoryName
Accessories     6410.801154
Bikes          29723.099807
Clothing       25356.121456
Components     49768.387556
Name: TotalDue, dtype: float64

In [178]:
#What is the total number of products shipped by each method?
df.groupby('ShipMethodName').count()['ProductID']

ShipMethodName
CARGO TRANSPORT 5     60919
XRQ - TRUCK GROUND    60398
Name: ProductID, dtype: int64